// Here you can add other styles
.form-control::-webkit-input-placeholder {
  color: #dcdcdc;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #dcdcdc;
  opacity: 1;
}

.form-control::placeholder {
  color: #dcdcdc;
  opacity: 1;
}